body {
	overflow: hidden;
}
#wrapper {
	min-width: 350px;
	height: 100vh;
}
.navbar {
	margin-bottom: 0px;
}
.navbar-brand img {
	height: 100%;
	float: left;
	margin-right: 5px;
}
#side {
	border-right: solid #e7e7e7 1px;
	background-color: #f8f8f8;
	color: #555;
}
#side, #main {
	transition: width 1s ease;
	overflow-y: auto;
}
#main {
	background: ghostwhite;
}
.canvas-wrapper {
	position: absolute;
	left: -400px;
	margin: auto;
	margin-left: 50%;
	width: 800px;
	height: 1131px;
	background-color: white;
	border: solid black 1px;
	border-right: solid black 1px;
	transition: width 0.5s ease, height 0.5s ease, left 0.5s ease;
}
.canvas-wrapper hr {
	position: absolute;
	width: 100%;
	height: 1px;
	top: 0px;
	left: 0px;
	background: black;
}
canvas {
	width: 100%;
	height: 100%;
}
hr {
	margin: 10px 0px;
}
.preview-img {
	max-width: 100%;
	max-height: 200px;
	border: solid black 2px;
	margin: auto;
	transition: width 0.5s ease, height 0.5s ease;
}
.canvas-wrapper img {
	border-color: transparent;
}
.preview-img:hover {
	border-style: dashed;
	border-color: black;
	cursor: pointer;
}
.panel-body {
	max-height: 350px;
	overflow: auto;
}
.Snippets-tools, .Files-tools {
	margin-bottom: 1em;
}
#square {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 30px;
	border: solid red 2px;
}
img.active {
	border-color: red;
	z-index: 9999 !important;
}
.hover-red:hover {
	color: red !important;
}